
/*text section*/

.progress-container {
  display: flex;
  flex-direction: row;
}

.progress-container * {
  font-size: 15px;
}

.progress-item {
  margin-bottom: 10px;
  margin-left: 10px;
}

.percentage {
  position: relative;
  display: inline-flex;
  padding: 10px;
  font-family: Oswald;
}

/* Adjustments for circular progress bars */
.progress-container {
  flex-wrap: wrap;
  justify-content: center;
  max-width: 600px; /* Adjust as needed */
  margin: 0 auto;
}

.progress-bar-container {
  width: calc(25% - 10px); /* Adjust as needed */
  text-align: center;
}

.progress-bar {
  width: 100%;
}

/* Adjust font size dynamically based on length of skill name */
.progress-bar .CircularProgressbar-text {
  font-size: 14px;
}

.progress-bar.long-name .CircularProgressbar-text {
  font-size: 12px;
}
